
  <%- include("../partials/header")%>
<body>
  <%- include("../partials/nav")%>
        <main class="container mx-auto mt-8 p-4">
      <div class="bg-white shadow-md rounded-lg p-6 text-center">
        <h1 class="text-3xl font-bold text-red-500 mb-4">
          My Bookings
        </h1>
        <p class="text-lg text-gray-600">
          Bookings will appear here
        </p>
      </div>
    </main>
</body>
</html>